<h3>Attribute Directive in Angular</h3>
<p>Thee attributes directive changes the apperance or behavior of a DOM elements. These directive look live regular HTML attributes in template. The ngModel directive which is used for two-day is an example of an attributes directive. Some of other attribute directive are listed below:</p>
<ul>
    <li>NgStyle: used for dynamic style can be set by using NgStyle.</li>
    <li>NgClass: used for adding and removing css classes dynamically.</li>
</ul>

<p>Below is Example of NgStyle Directive.</p>
<!-- <div [ngStyle]="background-color:red">Hello World</div> -->