<h3>Pipes in Angular</h3>
<p>Angular Pipes are used to transform data to desired output. Pipes take the data as a input and transform data to a different output. Using pipe oprator(|), we acan apply the Pipes's features to any of the property in our angular project.</p>
<p>Pipes (|) in Angular are used to transform data before displaying it in the browser. Angular provides a lot of built in pipes to translate the data before displaying in into the browser and we know, Angular lets us extend its features, we can even create custom pipes in Angular.</p>
<p>There are basically two types of Pipes in Angular</p>
<ul>
    <li>Built In Pipes
        <ul>
            <li>Parameterized</li>
            <li>chaining</li>
        </ul>
    </li>
    <li>Custom Pipes</li>
</ul>

<app-built-in></app-built-in>