<h3>Directive in Angular</h3>
<p>Bassically, Directives are used to extend the power of HTML attributes and to change the appearance or behavior of a DOM element. Directive in Angular is a javascript class, which is declear as  &#64;directive. Angular has 3 types of directives.</p>
<ul>
    <li>Component Directive</li>
    <li>Structural Directive</li>
    <li>Attribute Directive</li>
</ul>

<div class="d-flex flex-wrap justify-content-center gap-3 mb-2">
    <ng-container>
        @for(link of routes;track link.path){
            <a
            class="p-2 text-decoration-none"
            [routerLink]="[link.path]"
            [routerLinkActive]="['bg-dark','text-light']"
        >
            {{ link.label }}
        </a>
        }
    </ng-container>
</div>

<router-outlet></router-outlet>
<!-- <app-structural></app-structural>

<app-attribute></app-attribute> -->