<h3>This is selector component</h3>
<p>In Angular, a selector is a way to identify and associate a component, directive, or pipe with a particular HTML element or attribute. Selectors are used to tell Angular where to insert a component, directive, or pipe within the HTML structure.</p>
<p>There are 3 ways to write a component selector</p>
<ul>
    <li>element name: Select by Element name. {{elementSelector}}</li>
    <li>.class: Select by Class name. {{classSelector}}</li>
    <li>[attribute]: Select by attribute name. {{attributeSelector}}</li>
</ul>
<p>Select by Element name recommanded by the Angular other two ways are not recommanded.</p>

<div class="app-class-selector"></div>
<div app-attribute-selector></div>
