<p><b class="fs-5">ngDoCheck:</b> ngDoCheck s called during every change detection cycle and allows developers to implement logic that runs after Angular's default change detection mechanisms. ngDoCheck lets you detect and respond to changes in your component that may not be covered by the standard Angular lifecycle hooks. It gives you a way to perform custom checks and actions whenever Angular checks for changes in your component.</p>

<p>Below is example of the ngDoCheck Property. </p>

<input type="text" #name (keyup.enter)="setName(name.value)" />

<app-user [user]="user"></app-user>
