<h3 class="text-center my-2">Angular Hooks / Lifecycle Hooks</h3>
<p>Angular lifecycle hooks are methods that are called at various points in the lifecycle of a component or directive. These hooks allow you to perform actions at specific moments in the component or directive's lifecycle, such as after it is created, after changes are detected, or before it is destroyed.</p>
<p>There are seven lifecycle hooks in Angular</p>
<ul>
    <li>ngOnChanges</li>
    <li>ngOnInit</li>
    <li>ngAfterViewInit</li>
    <li>ngAfterViewChecked</li>
    <li>ngAfterContentInit</li>
    <li>ngAfterContentChecked</li>
    <li>ngOnDestroy</li>
</ul>

<div class="d-flex flex-wrap justify-content-center gap-3 mb-2">
    <ng-container>
        @for(link of routes;track link.path){
            <a
            class="p-2 text-decoration-none"
            [routerLink]="[link.path]"
            [routerLinkActive]="['bg-dark','text-light']"
        >
            {{ link.label }}
        </a>
        }
    </ng-container>
</div>

<router-outlet></router-outlet>
