<h2 class="text-center my-3">Angular Basic Concepts</h2>
<div class="d-flex flex-wrap justify-content-center gap-3 mb-2">
    <ng-container>
        @for(link of routes;track link.path){
            <a
            class="p-2 text-decoration-none"
            [routerLink]="[link.path]"
            [routerLinkActive]="['bg-dark','text-light']"
        >
            {{ link.label }}
        </a>
        }
    </ng-container>
</div>
  

<router-outlet></router-outlet>
<!-- <app-first></app-first>

<app-host-listener></app-host-listener>

<app-selector></app-selector>

<app-pre-white-spa></app-pre-white-spa>

<app-view-provider></app-view-provider>

<app-encapsulation></app-encapsulation>

<app-parent-to-child></app-parent-to-child>

<app-child-to-parent></app-child-to-parent>

<app-directive></app-directive>

<app-data-binding></app-data-binding>

<app-two-way-data-binding></app-two-way-data-binding>

<app-pipes></app-pipes> -->